<div class="panel panel-default">
  <div class="panel-body">
    <form #f="ngForm" (ngSubmit)="onFormSubmit(f)">
      <div class="col-md-6 col-md-offset-3">
        <div class="col-md-8 form-group">
          <input #searchContent="ngModel" class="form-control" minlength="1"
                 name="searchContent" ngModel placeholder="Search for users..." required type="text" />
        </div>
        <div class="col-md-4 form-group">
          <button [disabled]="f.invalid || ($isLoading | async)" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>

